<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Features & Requirements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">

 </head>

  <body class="{% block bodyclass %}{% endblock %}">
      {% block content %} {% endblock %}
      {% block js %} {% endblock %}

      {% if debug %}
        <script src="http://localhost:35729/livereload.js"></script>
      {% endif %}
  </body>
</html>
